<ion-content>
  <div class="menu" *ngIf="pageLoaded">
    <ion-grid>
      <div *ngFor="let attr of character">
        <ion-row>
          <ion-col style="display: flex; align-items: center">
            <ion-icon
              name="log-out-outline"
              color="danger"
              style="float: left; font-size: 1.1em"
              routerLink="/"
            ></ion-icon>
            <span style="font-size: 1.3em; margin: auto">{{attr.name}}</span>
            <ion-icon name="build-outline" style="float: right;"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row style="margin: 0.6em; width: 100%; margin: auto">
          <ion-col
            (click)="openModal('life')"
            style="
              border-radius: 0.5em;
              margin: 0.4em;
              height: 1.5em;
              position: relative;
            "
          >
            <div
              class="progress-bar"
              style="background-color: var(--ion-color-danger-shade)"
            >
              <div
                class="progress"
                style="background-color: var(--ion-color-danger)"
                [style.width.%]="(attr.current_life / attr.max_life) * 100"
              ></div>
              <span class="progress-text"
                >{{attr.current_life}} / {{attr.max_life}}</span
              >
            </div>
          </ion-col>
          <ion-col
            (click)="openModal('sanity')"
            style="
              border-radius: 0.5em;
              margin: 0.4em;
              height: 1.5em;
              position: relative;
            "
          >
            <div
              class="progress-bar"
              style="background-color: var(--ion-color-tertiary-shade)"
            >
              <div
                class="progress"
                style="background-color: var(--ion-color-tertiary)"
                [style.width.%]="(attr.current_sanity / attr.max_sanity) * 100"
              ></div>
              <span class="progress-text"
                >{{attr.current_sanity}} / {{attr.max_sanity}}</span
              >
            </div>
          </ion-col>
        </ion-row>

        <ion-row style="width: 100%; margin: auto;">
          <ion-col
            (click)="openModal('effort')"
            style="
              border-radius: 0.5em;
              margin: 0.4em;
              height: 1.5em;
              position: relative;
            "
          >
            <div
              class="progress-bar"
              style="background-color: var(--ion-color-success-shade)"
            >
              <div
                class="progress"
                style="background-color: var(--ion-color-success)"
                [style.width.%]="(attr.current_effort / attr.max_effort) * 100"
              ></div>
              <span class="progress-text"
                >{{attr.current_effort}} / {{attr.max_effort}}</span
              >
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="ion-margin">
            <span
              style="
                font-size: 2.5em;
                color: var(--ion-color-purple);
                -webkit-text-stroke-color: var(--ion-color-light-purple);
              "
              >{{attr.class}}</span
            >
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
          <ion-col class="ion-text-center">
            <img [src]="attr.image_url" style="max-width: 100%" />
          </ion-col>
        </ion-row>

        <ion-row style="width: 100%">
          <ion-col class="ion-text-left" style="font-size: 1.1em">
            <span>NEX: {{attr.nex}}</span>
          </ion-col>
          <ion-col class="ion-text-right" style="font-size: 1.1em">
            <span>{{attr.characteristic}}</span>
          </ion-col>
        </ion-row>
        <ion-row style="width: 100%">
          <ion-col class="ion-text-left" style="font-size: 1.1em">
            <span>Peso: {{attr.weight}}</span>
          </ion-col>
          <ion-col class="ion-text-right" style="font-size: 1.1em">
            <span>{{attr.personality}}</span>
          </ion-col>
        </ion-row>
        <ion-row style="width: 100%">
          <ion-col class="ion-text-left" style="font-size: 1.1em">
            <span>{{attr.age}} anos</span>
          </ion-col>
          <ion-col class="ion-text-right" style="font-size: 1.1em">
            <span>Jogador(a): {{attr.player}}</span>
          </ion-col>
        </ion-row>
        <ion-row style="width: 100%">
          <ion-col class="ion-text-left" style="font-size: 1.1em">
            <span>{{attr.birthplace}}</span>
          </ion-col>
          <ion-col class="ion-text-right" style="font-size: 1.1em">
            <span>Deslocamento: {{attr.displacement}}</span>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>

    <ion-modal
      style="--height: 120px; --width: 300px; --border-radius: 40px"
      [isOpen]="openStatusModal"
      (willDismiss)="openStatusModal = false;"
    >
      <ng-template>
        <div style="margin: auto">
          <div style="text-align: center; margin-top: 0.6em">
            <ion-text
              [color]="modalType === 'life' ? 'danger' : modalType === 'sanity' ? 'tertiary' : 'success'"
              style="font-size: 1.1em"
              >{{modalType === 'life' ? 'Vida' : modalType === 'sanity' ?
              'Sanidade' : 'Esforço'}}</ion-text
            >
          </div>

          <div class="buttons" style="display: flex">
            <ion-button
              fill="clear"
              [color]="modalType === 'life' ? 'danger' : modalType === 'sanity' ? 'tertiary' : 'success'"
              (click)="increaseOrDecreaseCurrent(1, 'current')"
            >
              <ion-icon name="remove"></ion-icon>
            </ion-button>
            <ion-input
              type="number"
              [(ngModel)]="character[0]['current_' + modalType]"
              style="width: 20px"
            ></ion-input>
            <ion-button
              fill="clear"
              [color]="modalType === 'life' ? 'danger' : modalType === 'sanity' ? 'tertiary' : 'success'"
              (click)="increaseOrDecreaseCurrent(0, 'current')"
            >
              <ion-icon name="add"></ion-icon>
            </ion-button>
            <ion-button
              fill="clear"
              [color]="modalType === 'life' ? 'danger' : modalType === 'sanity' ? 'tertiary' : 'success'"
              (click)="increaseOrDecreaseCurrent(1, 'max')"
            >
              <ion-icon name="remove"></ion-icon>
            </ion-button>
            <ion-input
              type="number"
              [(ngModel)]="character[0]['max_' + modalType]"
              style="width: 20px"
            ></ion-input>
            <ion-button
              fill="clear"
              [color]="modalType === 'life' ? 'danger' : modalType === 'sanity' ? 'tertiary' : 'success'"
              (click)="increaseOrDecreaseCurrent(0, 'max')"
            >
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </div>
        </div>

        <!-- <ion-content class="ion-padding">
          <ion-button
            class="btn-outline"
            style="--background: none"
            shape="round"
            expand="block"
            [style]="modalType === 'life' ? '--border-color: var(--ion-color-danger)' : modalType === 'sanity'
            ? '--border-color: var(--ion-color-tertiary)' : '--border-color: var(--ion-color-success)'"
            [color]="modalType === 'life' ? 'danger' : modalType === 'sanity' ? 'tertiary' : 'success'"
            fill="clear"
            (click)="rollDice(1)"
          >
            Teste de {{modalType === 'life' ? 'constituição' : modalType ===
            'sanity' ? 'sanidade' : 'esforço'}}
          </ion-button>
          <ion-row
            class="ion-align-items-center"
            style="margin-top: 2em; max-height: 380px; overflow: auto"
          >
            <ng-container *ngFor="let diceResult of diceResults; let i = index">
              <ion-col
                size="12"
                class="ion-text-center"
                *ngIf="diceResults.length > 0"
              >
                <img
                  src="/assets/image/dice.png"
                  style="max-width: 40%; min-width: 40%"
                />
                <div
                  class="dice-result"
                  style="
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                  "
                >
                  <span>{{diceResult}}</span>
                </div>
              </ion-col>
            </ng-container>
            <ion-col
              size="12"
              class="ion-text-center"
              *ngIf="diceResults.length <= 0"
            >
              <img
                src="/assets/image/dice.png"
                style="max-width: 40%; min-width: 40%"
              />
            </ion-col>
          </ion-row>
        </ion-content> -->
      </ng-template>
    </ion-modal>
  </div>
</ion-content>
