<ion-content>
  <div class="menu" *ngIf="pageLoaded">
    <ion-grid>
      <div *ngFor="let attr of character">
        <ion-row>
          <ion-col style="display: flex; align-items: center">
            <ion-icon
              name="log-out-outline"
              color="danger"
              style="float: left; font-size: 1.1em"
              (click)="backToInitialScreen()"
            ></ion-icon>
            <span
              style="
                font-size: 1.3em;
                margin: auto;
                display: flex;
                align-items: center;
              "
              >{{attr.name}}
            </span>
            <ion-icon
              name="build-outline"
              style="float: right"
              (click)="gotoEditScreen(attr.id)"
            ></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row style="margin: 0.6em; width: 100%; margin: auto">
          <ion-col
            (click)="openModal('life')"
            style="
              border-radius: 0.5em;
              margin: 0.4em;
              height: 1.5em;
              position: relative;
            "
          >
            <div
              class="progress-bar"
              style="background-color: var(--ion-color-danger-shade)"
            >
              <div
                class="progress"
                style="background-color: var(--ion-color-danger)"
                [style.width.%]="((attr.current_life / attr.max_life) * 100) > 100 ? 100 : ((attr.current_life / attr.max_life) * 100)"
              ></div>
              <span class="progress-text"
                >{{hiddenStatus.hidden_life ? '?' : attr.current_life}} /
                {{hiddenStatus.hidden_life ? '?' : attr.max_life}}</span
              >
            </div>
          </ion-col>
          <ion-col
            (click)="openModal('sanity')"
            style="
              border-radius: 0.5em;
              margin: 0.4em;
              height: 1.5em;
              position: relative;
            "
          >
            <div
              class="progress-bar"
              style="background-color: var(--ion-color-tertiary-shade)"
            >
              <div
                class="progress"
                style="background-color: var(--ion-color-tertiary)"
                [style.width.%]="((attr.current_sanity / attr.max_sanity) * 100) > 100 ? 100 : ((attr.current_sanity / attr.max_sanity) * 100)"
              ></div>
              <span class="progress-text"
                >{{hiddenStatus.hidden_sanity ? '?' : attr.current_sanity}} / {{
                hiddenStatus.hidden_sanity ? '?' : attr.max_sanity}}</span
              >
            </div>
          </ion-col>
        </ion-row>

        <ion-row style="width: 100%; margin: auto">
          <ion-col
            (click)="openModal('effort')"
            style="
              border-radius: 0.5em;
              margin: 0.4em;
              height: 1.5em;
              position: relative;
            "
          >
            <div
              class="progress-bar"
              style="background-color: var(--ion-color-success-shade)"
            >
              <div
                class="progress"
                style="background-color: var(--ion-color-success)"
                [style.width.%]="((attr.current_effort / attr.max_effort) * 100) > 100 ? 100 : ((attr.current_effort / attr.max_effort) * 100)"
              ></div>
              <span class="progress-text"
                >{{hiddenStatus.hidden_effort ? '?' : attr.current_effort}} /
                {{hiddenStatus.hidden_effort ? '?' : attr.max_effort}}</span
              >
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="ion-margin">
            <span
              style="
                font-size: 2.1em;
                color: var(--ion-color-light);
                font-family: SpecialFont;
                text-shadow: 0 0 10px var(--ion-color-main);
              "
              >{{attr.class}}</span
            >
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
          <ion-col class="ion-text-center">
            <img
              [src]="attr.image_url"
              style="
                max-width: 330px;
                max-height: 330px;
                min-width: 150px;
                min-height: 330px;
              "
            />
          </ion-col>
        </ion-row>

        <ion-row style="width: 100%">
          <ion-col class="ion-text-center" size="12" style="font-size: 1.1em">
            <span
              style="
                color: var(--ion-color-light);
                font-family: SpecialFont;
                text-shadow: 0 0 10px var(--ion-color-main);
              "
              >NEX: {{attr.nex}}%</span
            >
          </ion-col>
        </ion-row>
        <ion-row style="width: 100%">
          <ion-col class="ion-text-center" size="12" style="font-size: 1.1em">
            <span>{{attr.occupation}}</span>
          </ion-col>
        </ion-row>
        <ion-row style="width: 100%">
          <ion-col class="ion-text-left" style="font-size: 1.1em">
            <span
              >Carga:
              <ion-text
                [color]="generic.weightStatus === 'Normal' ? 'success' : 'danger'"
                >{{weightShow}}</ion-text
              ></span
            >
          </ion-col>
          <ion-col class="ion-text-right" style="font-size: 1.1em">
            <span>{{attr.path}}</span>
          </ion-col>
        </ion-row>
        <ion-row style="width: 100%">
          <ion-col class="ion-text-left" style="font-size: 1.1em">
            <span
              >Desloc.:
              <ion-text
                [color]="generic.weightStatus === 'Sobrecarga' ?
              'danger' : ''"
                >{{attr.displacement}}</ion-text
              ></span
            >
          </ion-col>
          <ion-col class="ion-text-right" style="font-size: 1.1em">
            <span>{{attr.origin}}</span>
          </ion-col>
        </ion-row>

        <ion-row style="width: 100%">
          <ion-col class="ion-text-center" style="font-size: 1.1em" size="12">
            <div style="justify-content: space-between; display: flex">
              <span (click)="gotoNotesOrAboutScreen('notes')"
                ><ion-icon
                  name="document-text-outline"
                  color="tertiary"
                ></ion-icon
              ></span>
              <span (click)="gotoNotesOrAboutScreen('about')"
                ><ion-icon
                  name="information-circle-outline"
                  color="warning"
                ></ion-icon
              ></span>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>

    <ion-modal
      style="
        --height: 215px;
        --width: 320px;
        --border-radius: 40px;
        --background: #161616;
      "
      [isOpen]="openStatusModal"
      (willDismiss)="openStatusModal = false;"
    >
      <ng-template>
        <div style="margin: auto">
          <div
            style="
              text-align: center;
              margin-top: 0.6em;
              display: flex;
              align-items: center;
              justify-content: center;
            "
          >
            <ion-text
              [color]="modalType === 'life' ? 'danger' : modalType === 'sanity' ? 'tertiary' : 'success'"
              style="font-size: 1.1em; padding-right: 0.5em"
              >{{modalType === 'life' ? 'Vida' : modalType === 'sanity' ?
              'Sanidade' : 'Esforço'}}</ion-text
            >
            <ion-icon
              [name]="modalType === 'life' ? hiddenStatus.hidden_life ? 'eye-off-outline' : 'eye-outline' : modalType === 'sanity' ?
            hiddenStatus.hidden_sanity ? 'eye-off-outline' : 'eye-outline' : hiddenStatus.hidden_effort ? 'eye-off-outline' : 'eye-outline'"
              (click)="fnHiddenStatus(modalType)"
              style="padding-left: 0.5em"
            ></ion-icon>
          </div>

          <div class="buttons" style="display: flex">
            <ion-button
              fill="clear"
              [color]="modalType === 'life' ? 'danger' : modalType === 'sanity' ? 'tertiary' : 'success'"
              (click)="increaseOrDecreaseCurrent(1, 'current')"
            >
              <ion-icon name="remove"></ion-icon>
            </ion-button>
            <ion-input
              type="number"
              [(ngModel)]="character[0]['current_' + modalType]"
              (input)="updateCharacterInDatabase()"
              [debounce]="200"
              style="max-width: 45px; text-align: center"
            ></ion-input>
            <ion-button
              fill="clear"
              [color]="modalType === 'life' ? 'danger' : modalType === 'sanity' ? 'tertiary' : 'success'"
              (click)="increaseOrDecreaseCurrent(0, 'current')"
            >
              <ion-icon name="add"></ion-icon>
            </ion-button>
            <ion-button
              fill="clear"
              [color]="modalType === 'life' ? 'danger' : modalType === 'sanity' ? 'tertiary' : 'success'"
              (click)="increaseOrDecreaseCurrent(1, 'max')"
            >
              <ion-icon name="remove"></ion-icon>
            </ion-button>
            <ion-input
              type="number"
              [(ngModel)]="character[0]['max_' + modalType]"
              (input)="updateCharacterInDatabase()"
              [debounce]="200"
              style="max-width: 45px; text-align: center"
            ></ion-input>
            <ion-button
              fill="clear"
              [color]="modalType === 'life' ? 'danger' : modalType === 'sanity' ? 'tertiary' : 'success'"
              (click)="increaseOrDecreaseCurrent(0, 'max')"
            >
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </div>
          <div class="ion-text-center" style="margin-top: 1em">
            <ion-label> Calculadora </ion-label>
            <div
              style="display: flex; justify-content: center"
              style="margin-top: 0.5em"
            >
              <input
                type="number"
                style="
                  background: #121212;
                  border: 1px solid var(--ion-color-dark);
                  width: 50px;
                  height: 30px !important;
                  border-radius: 0.5em;
                "
                #value1
                (input)="calculator(value1.value, value2.value, op.value)"
              />
              <select
                style="
                  width: 40px;
                  height: 30px;
                  background: #161616;
                  border: none;
                  outline: none;
                  margin: 0 0.5em 0;
                "
                #op
                (change)="calculator(value1.value, value2.value, op.value)"
              >
                <option [value]="0" selected>-</option>
                <option [value]="1">+</option>
                <option [value]="2">*</option>
                <option [value]="3">/</option>
              </select>
              <input
                type="number"
                style="
                  background: #121212;
                  border: 1px solid var(--ion-color-dark);
                  width: 50px;
                  height: 30px !important;
                  border-radius: 0.5em;
                "
                #value2
                (input)="calculator(value1.value, value2.value, op.value)"
              />
            </div>
            <div style="margin-top: 0.5em">
              <ion-text>
                Resultado =
                <ion-text color="primary"
                  >{{calculatorRes.toFixed(1)}}</ion-text
                >
              </ion-text>
            </div>
          </div>
        </div>
      </ng-template>
    </ion-modal>
  </div>
</ion-content>
