.menu {
  width: 90%;
  margin: auto;
  text-align: left;
  height: 100%;
  background: url(/assets/image/ts.png);
  background-position: center;
  background-repeat: no-repeat;
}

.card-char {
  background-color: #171717;
  border: 1px solid var(--ion-color-dark);
  border-radius: 10px;
  padding: 0 20px 10px;
  margin-bottom: 10px;
  max-height: 100px;
  overflow: auto;
}

.btn-outline {
  margin-top: 2em;
  --background: none;
  --border-style: solid;
  --border-width: 1px;
}

.text-area-st {
  border: 1px solid var(--ion-color-warning);
  background-color: #171717;
  height: 90px;
  outline: none;
  border-radius: 10px;
  padding-left: 7px;
}
