<ion-content>
  <div class="menu" *ngIf="pageLoaded">
    <ion-grid>
      <div>
        <ion-row>
          <ion-col size="1" routerLink="/character/1">
            <span style="font-size: 1.3em; font-family: KyivTypeTitling"
              ><ion-icon name="chevron-back-outline"></ion-icon
            ></span>
          </ion-col>
          <ion-col class="ion-text-center">
            <span style="font-size: 1.3em">Agatha Volkomenn</span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="ion-margin">
            <span
              style="
                font-size: 1.8em;
                color: var(--ion-color-light-purple);
                -webkit-text-stroke-color: var(--ion-color-purple);
              "
              >Habilidades</span
            >
          </ion-col>
        </ion-row>
        <div style="max-height: 210px; overflow: auto">
          <div *ngFor="let skill of skillsList" class="card-char">
            <p><strong>{{skill.name}}</strong></p>
            <span>{{skill.description}}</span>
          </div>
        </div>

        <ion-row>
          <ion-col class="ion-margin">
            <span
              style="
                font-size: 1.8em;
                color: var(--ion-color-light-purple);
                -webkit-text-stroke-color: var(--ion-color-purple);
              "
              >Poderes</span
            >
          </ion-col>
        </ion-row>

        <div style="max-height: 210px; overflow: auto">
          <div *ngFor="let power of powersList" class="card-char">
            <p><strong>{{power.name}}</strong></p>
            <span>{{power.description}}</span>
          </div>
        </div>

        <div style="position: fixed; bottom: 0; margin-bottom: 3em; width: 90%">
          <ion-button
            class="btn-outline"
            style="
              --background: none;
              --border-color: var(--ion-color-purple);
              --color: var(--ion-color-light-purple);
            "
            shape="round"
            expand="block"
            (click)="openSkillOrPowerModal('skill')"
            fill="clear"
          >
            Adicionar nova habilidade
          </ion-button>
          <ion-button
            class="btn-outline"
            style="
              --background: none;
              --border-color: var(--ion-color-purple);
              --color: var(--ion-color-light-purple);
            "
            shape="round"
            (click)="openSkillOrPowerModal('power')"
            expand="block"
            fill="clear"
          >
            Adicionar novo poder
          </ion-button>
        </div>
      </div>
    </ion-grid>

    <ion-modal
      [isOpen]="openStatusModal"
      style="--height: 320px; --width: 300px; --border-radius: 40px"
      (willDismiss)="openStatusModal = false;"
    >
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Adicionar {{currentAddName === 'skill' ? 'habilidade' : 'poder'}}</ion-title>
          </ion-toolbar>
        </ion-header>

        <ion-content>
          <ion-list>
            <ion-item *ngIf="currentAddName === 'skill'">
              <ion-input label="Nome" [(ngModel)]="newSkill.name" type="text"></ion-input>
            </ion-item>

            <ion-item *ngIf="currentAddName === 'power'">
              <ion-input label="Nome" [(ngModel)]="newPower.name" type="text"></ion-input>
            </ion-item>

            <ion-item *ngIf="currentAddName === 'skill'">
              <ion-textarea label="Descrição" [(ngModel)]="newSkill.description"></ion-textarea>
            </ion-item>

            <ion-item *ngIf="currentAddName === 'power'">
              <ion-textarea label="Descrição" [(ngModel)]="newPower.description"></ion-textarea>
            </ion-item>

          </ion-list>
        </ion-content>

        <ion-footer>
          <ion-toolbar>
            <ion-buttons slot="end">
              <ion-button (click)="addSkillOrPower(currentAddName)"
                >Adicionar</ion-button
              >
            </ion-buttons>
          </ion-toolbar>
        </ion-footer>
      </ng-template>
    </ion-modal>
  </div>
</ion-content>
