<ion-content>
  <div class="menu" *ngIf="pageLoaded">
    <ion-grid>
      <div>
        <ion-row>
          <ion-col size="1" routerLink="/character/{{characterId}}">
            <span style="font-size: 1.3em"
              ><ion-icon name="chevron-back-outline"></ion-icon
            ></span>
          </ion-col>
          <ion-col class="ion-text-center">
            <span style="font-size: 1.3em">{{charName}}</span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="ion-margin">
            <span
              style="
                font-size: 1.8em;
                color: var(--ion-color-light-purple);
                -webkit-text-stroke-color: var(--ion-color-purple);
              "
              >Habilidades
              <ion-text (click)="openSkillOrPowerModal('skill')">
                <ion-icon
                  style="float: right; font-size: 1em"
                  name="add-outline"
                  color="light"
                >
                </ion-icon> </ion-text
            ></span>
          </ion-col>
        </ion-row>
        <div
          class="abilities-rituals-list"
          style="max-height: 280px; overflow: auto"
        >
          <div *ngFor="let skill of skillsList" class="card-char">
            <p>
              {{skill.name}}
              <span
                style="float: right"
                (click)="deleteItem('Skill', skill.id, skill.name)"
              >
                <ion-icon color="danger" name="trash-bin-outline"></ion-icon
              ></span>
            </p>
            <div
              style="
                display: flex;
                justify-content: space-between;
                margin-bottom: 0.7em;
              "
            >
              <span style="color: var(--ion-color-medium)"
                ><strong>Custo: {{skill.price ? skill.price : '---'}}</strong></span
              >
              <span style="color: var(--ion-color-medium)"
                ><strong>Pagína: {{skill.pages}}</strong></span
              >
            </div>

            <span style="color: var(--ion-color-medium)"
              >{{skill.description}}</span
            >
          </div>
        </div>

        <ion-row>
          <ion-col class="ion-margin">
            <span
              style="
                font-size: 1.8em;
                color: var(--ion-color-light-purple);
                -webkit-text-stroke-color: var(--ion-color-purple);
              "
              >Rituais
              <ion-text (click)="openSkillOrPowerModal('power')">
                <ion-icon
                  style="float: right; font-size: 1em"
                  name="add-outline"
                  color="light"
                >
                </ion-icon> </ion-text
            ></span>
          </ion-col>
        </ion-row>

        <div
          class="abilities-rituals-list"
          style="max-height: 280px; overflow: auto"
        >
          <div *ngFor="let power of powersList" class="card-char">
            <p>
              {{power.name}}
              <span
                style="float: right"
                (click)="deleteItem('Power', power.id, power.name)"
              >
                <ion-icon color="danger" name="trash-bin-outline"></ion-icon
              ></span>
            </p>
            <div
              style="
                display: flex;
                justify-content: space-between;
                margin-bottom: 0.7em;
              "
            >
              <span style="color: var(--ion-color-medium)"
                ><strong>Custo: {{power.price ? power.price : '---'}}</strong></span
              >
              <span style="color: var(--ion-color-medium)"
                ><strong>Pagína: {{power.pages}}</strong></span
              >
            </div>
            <span style="color: var(--ion-color-medium)"
              >{{power.description}}</span
            >
          </div>
        </div>
      </div>
    </ion-grid>

    <ion-modal
      [isOpen]="openStatusModal"
      style="--height: 100%; --width: 100%"
      (willDismiss)="openStatusModal = false;"
    >
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title
              >Adicionar {{currentAddName === 'skill' ? 'habilidade' :
              'ritual'}}</ion-title
            >
            <ion-buttons slot="end">
              <ion-button (click)="openStatusModal = false">
                <ion-icon name="close"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>

        <ion-content class="ion-padding">
          <ion-list>
            <ion-input
              *ngIf="currentAddName === 'skill'"
              placeholder="Nome"
              [(ngModel)]="newSkill.name"
              type="text"
            ></ion-input>

            <ion-input
              *ngIf="currentAddName === 'power'"
              placeholder="Nome"
              [(ngModel)]="newPower.name"
              type="text"
            ></ion-input>

            <ion-input
              *ngIf="currentAddName === 'skill'"
              placeholder="Custo"
              [(ngModel)]="newSkill.price"
              type="text"
            ></ion-input>

            <ion-input
              *ngIf="currentAddName === 'power'"
              placeholder="Custo"
              [(ngModel)]="newPower.price"
              type="text"
            ></ion-input>

            <ion-input
              placeholder="Página"
              *ngIf="currentAddName === 'skill'"
              [(ngModel)]="newSkill.pages"
              type="text"
            ></ion-input>

            <ion-input
              placeholder="Página"
              *ngIf="currentAddName === 'power'"
              [(ngModel)]="newPower.pages"
              type="text"
            ></ion-input>

            <ion-textarea
              class="text-area-st"
              *ngIf="currentAddName === 'skill'"
              placeholder="Descrição"
              [(ngModel)]="newSkill.description"
            ></ion-textarea>

            <ion-textarea
              class="text-area-st"
              *ngIf="currentAddName === 'power'"
              placeholder="Descrição"
              [(ngModel)]="newPower.description"
            ></ion-textarea>
          </ion-list>
          <ion-button
            class="btn-outline"
            style="
              --background: none;
              --border-color: var(--ion-color-warning);
            "
            shape="round"
            expand="block"
            color="warning"
            fill="clear"
            (click)="addSkillOrPower(currentAddName)"
          >
            Adicionar
          </ion-button>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>
</ion-content>
