<ion-content>
  <div class="menu" *ngIf="pageLoaded">
    <ion-grid>
      <div>
        <ion-row>
          <ion-col size="1" routerLink="/character/{{characterId}}">
            <span style="font-size: 1.3em"
              ><ion-icon name="chevron-back-outline"></ion-icon
            ></span>
          </ion-col>
          <ion-col class="ion-text-center">
            <span style="font-size: 1.3em">{{charName}}</span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="ion-margin">
            <span
              style="
                font-size: 1.8em;
                color: var(--ion-color-light-purple);
                -webkit-text-stroke-color: var(--ion-color-purple);
              "
              >Habilidades
              <ion-text (click)="openSkillOrPowerModal('skill')">
                <ion-icon
                  style="float: right; font-size: 1em"
                  name="add-outline"
                  color="light"
                >
                </ion-icon> </ion-text
            ></span>
          </ion-col>
        </ion-row>
        <div class="abilities-rituals-list" style="max-height: 280px; overflow: auto">
          <div *ngFor="let skill of skillsList" class="card-char">
            <p>
              {{skill.name}}
              <span
                style="float: right"
                (click)="deleteItem('Skill', skill.id, skill.name)"
              >
                <ion-icon color="danger" name="trash-bin-outline"></ion-icon
              ></span>
            </p>
            <span style="color: var(--ion-color-medium)"
              >{{skill.description}}</span
            >
          </div>
        </div>

        <ion-row>
          <ion-col class="ion-margin">
            <span
              style="
                font-size: 1.8em;
                color: var(--ion-color-light-purple);
                -webkit-text-stroke-color: var(--ion-color-purple);
              "
              >Rituais
              <ion-text (click)="openSkillOrPowerModal('power')">
                <ion-icon
                  style="float: right; font-size: 1em"
                  name="add-outline"
                  color="light"
                >
                </ion-icon> </ion-text
            ></span>
          </ion-col>
        </ion-row>

        <div  class="abilities-rituals-list" style="max-height: 280px; overflow: auto">
          <div *ngFor="let power of powersList" class="card-char">
            <p>
              {{power.name}}
              <span
                style="float: right"
                (click)="deleteItem('Power', power.id, power.name)"
              >
                <ion-icon color="danger" name="trash-bin-outline"></ion-icon
              ></span>
            </p>
            <span style="color: var(--ion-color-medium)"
              >{{power.description}}</span
            >
          </div>
        </div>
      </div>
    </ion-grid>

    <ion-modal
      [isOpen]="openStatusModal"
      style="--height: 320px; --width: 300px; --border-radius: 40px;"
      (willDismiss)="openStatusModal = false;"
    >
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title
              >Adicionar {{currentAddName === 'skill' ? 'habilidade' :
              'ritual'}}</ion-title
            >
          </ion-toolbar>
        </ion-header>

        <ion-content>
          <ion-list>
            <ion-item lines="none" *ngIf="currentAddName === 'skill'">
              <ion-input
                label="Nome"
                [(ngModel)]="newSkill.name"
                type="text"
              ></ion-input>
            </ion-item>

            <ion-item lines="none" *ngIf="currentAddName === 'power'">
              <ion-input
                label="Nome"
                [(ngModel)]="newPower.name"
                type="text"
              ></ion-input>
            </ion-item>

            <ion-item lines="none" *ngIf="currentAddName === 'skill'">
              <ion-textarea
                class="text-area-st"
                placeholder="Descrição"
                [(ngModel)]="newSkill.description"
              ></ion-textarea>
            </ion-item>

            <ion-item lines="none" *ngIf="currentAddName === 'power'">
              <ion-textarea
                class="text-area-st"
                placeholder="Descrição"
                [(ngModel)]="newPower.description"
              ></ion-textarea>
            </ion-item>
          </ion-list>
        </ion-content>

        <ion-footer>
          <ion-toolbar>
            <ion-buttons slot="end">
              <ion-button (click)="addSkillOrPower(currentAddName)"
                >Adicionar</ion-button
              >
            </ion-buttons>
          </ion-toolbar>
        </ion-footer>
      </ng-template>
    </ion-modal>
  </div>
</ion-content>
