<ion-content>
  <div class="menu" *ngIf="pageLoaded">
    <ion-row style="margin-top: 0.3em">
      <ion-col size="1" routerLink="/character/{{characterID}}">
        <span style="font-size: 1.3em"
          ><ion-icon name="chevron-back-outline"></ion-icon
        ></span>
      </ion-col>
      <ion-col>
        <span style="font-size: 1.3em">{{charName}}</span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-margin">
        <span
          style="
            font-size: 1.8em;
            color: var(--ion-color-light-main);
            -webkit-text-stroke-color: var(--ion-color-main);
          "
          >Atributos de combate</span
        >
      </ion-col>
    </ion-row>
    <div class="protection-list">
      <div class="shield-item">
        <div class="shield"></div>
        <span class="protection-number">
          <input
            type="number"
            (change)="editTotalDefense()"
            [(ngModel)]="totalDefense"
            style="
              width: 20%;
              background: none;
              outline: none;
              text-align: center;
              border: none;
            "
          />
        </span>
      </div>
      <ion-text class="protection-legend" color="medium"
        >= 10 + AGI + Equip + Outros</ion-text
      >
    </div>

    <div class="resistance-list">
      <h3>
        Proteções & Resistências<ion-text
          (click)="editingMode = false; protectionValue = ''; defenseMode = true; openStatusModal = true"
        >
          <ion-icon
            style="float: right; font-size: 1.3em"
            name="add-outline"
            color="light"
          >
          </ion-icon>
        </ion-text>
      </h3>
      <ion-list>
        <ion-item *ngFor="let defense of defensesList">
          <ion-label>
            {{defense.protection}}
            <span style="position: absolute; right: 0; margin-right: 1em">
              <ion-icon
                color="tertiary"
                style="padding-right: 0.5em; padding-bottom: 0.1em"
                name="create-outline"
                (click)="getDefenseByID(defense.id)"
              ></ion-icon>
              <ion-icon
                (click)="deleteDefense(defense.id, defense.protection)"
                color="danger"
                name="trash-bin-outline"
              ></ion-icon></span
          ></ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div class="attack-list">
      <h3>
        Ataques
        <ion-text
          (click)="editingMode = false; defenseMode = false; attacksForm.reset({id: 0}); openStatusModal = true"
        >
          <ion-icon
            style="float: right; font-size: 1.3em"
            name="add-outline"
            color="light"
          >
          </ion-icon>
        </ion-text>
      </h3>
      <ion-list>
        <ion-item *ngFor="let attack of attacksList">
          <ion-label>
            <p>
              {{attack.attack_name}}
              <span style="position: absolute; right: 0; margin-right: 1em">
                <ion-icon
                  color="tertiary"
                  style="padding-right: 0.5em; padding-bottom: 0.02em"
                  name="create-outline"
                  (click)="getAttackByID(attack.id)"
                ></ion-icon>
                <ion-icon
                  (click)="deleteAttack(attack.id, attack.attack_name)"
                  color="danger"
                  name="trash-bin-outline"
                ></ion-icon
              ></span>
            </p>
            <p><strong>Teste:</strong> {{attack.test}}</p>
            <p
              (click)="rollDice(attack.damage)"
              style="color: var(--ion-color-danger); text-decoration: underline"
            >
              <strong>Dano:</strong> {{attack.damage}}
            </p>
            <p>
              <strong style="font-size: 0.8em"
                >Crítico, alcance ou especial:</strong
              >
              {{attack.critical_or_range_or_special}}
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <ion-modal
      [isOpen]="openStatusModal"
      [style]="defenseMode ? '--height: 260px; --width: 330px; --border-radius: 40px' : '--height: 100%; --width: 100%'"
      (willDismiss)="openStatusModal = false;"
    >
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>{{editingMode ? 'Editar' : 'Adicionar'}}</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="openStatusModal = false">
                <ion-icon name="close"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>

        <ion-content class="ion-padding" *ngIf="!defenseMode">
          <form [formGroup]="attacksForm">
            <ion-input
              formControlName="attack_name"
              type="text"
              placeholder="Nome"
            ></ion-input>

            <ion-input
              formControlName="test"
              type="text"
              placeholder="Teste"
            ></ion-input>

            <ion-input
              formControlName="damage"
              type="text"
              placeholder="Dano (ex: 3d8)"
            ></ion-input>

            <ion-input
              formControlName="critical_or_range_or_special"
              type="text"
              placeholder="Crítico, alcance ou especial"
            ></ion-input>
          </form>
          <ion-button
            class="btn-outline"
            style="
              --background: none;
              --border-color: var(--ion-color-main);
              --color: var(--ion-color-main);
            "
            shape="round"
            expand="block"
            fill="clear"
            (click)="editingMode ? editAttack() : addAttacks()"
          >
            {{editingMode ? 'Editar' : 'Adicionar'}}
          </ion-button>
        </ion-content>

        <ion-content class="ion-padding" *ngIf="defenseMode">
          <div>
            <ion-input
              type="text"
              placeholder="Proteção/resistênica"
              [(ngModel)]="protectionValue"
            ></ion-input>
          </div>
          <ion-button
            class="btn-outline"
            style="
              --background: none;
              --border-color: var(--ion-color-main);
              --color: var(--ion-color-main);
            "
            shape="round"
            expand="block"
            fill="clear"
            (click)="editingMode ? editDefense() : addDefenses()"
          >
            {{editingMode ? 'Editar' : 'Adicionar'}}
          </ion-button>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>

  <ion-modal
    style="--height: 280px; --width: 300px"
    [isOpen]="openDiceRollModal"
    (willDismiss)="openDiceRollModal = false;"
  >
    <ng-template>
      <ion-content class="ion-padding">
        <ion-row style="margin-top: 0.8em; text-align: center">
          <ion-col>
            <ion-label color="primary">
              Total: {{diceRolling ? 0 : diceResultTotal + '+' + modifier + ' = '
              + (diceResultTotal + modifier)}}
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row
          class="ion-align-items-center"
          style="max-height: 220px; overflow: auto"
        >
          <ng-container *ngFor="let diceResult of diceResults; let i = index">
            <ion-col size="6" class="ion-text-center">
              <img
                src="/assets/image/dice.png"
                style="max-width: 70%; min-width: 60%"
              />
              <div
                class="dice-result"
                style="
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                "
              >
                <span style="font-size: 1.1em">{{diceResult}}</span>
              </div>
            </ion-col>
          </ng-container>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
