.menu {
  width: 95%;
  margin: auto;
  text-align: center;
}

.defense-section {
  text-align: center;
  color: #fff;
}

.resistance-list,
.attack-list {
  margin-top: 1.5em;
  border: 1px solid var(--ion-color-dark-tint);
  border-radius: 10px;
  padding: 10px;
  max-height: 350px;
  overflow: auto;
}

.resistance-list::-webkit-scrollbar,
.attack-list::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.resistance-list::-webkit-scrollbar-thumb,
.attack-list::-webkit-scrollbar-thumb {
  background-color: var(--ion-color-main);
  border-radius: 12px;
}

.resistance-list::-webkit-scrollbar-track,
.attack-list::-webkit-scrollbar-track {
  background-color: #565656;
}

.protection-list h3,
.resistance-list h3,
.attack-list h3 {
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
}

.attack-list h4 {
  margin-bottom: 0.5em;
  color: #fff;
  padding: 0.3em;
  font-size: 1.1em;
}

.attack-list p {
  color: #ccc;
  margin: 5px 0;
  padding: 0.3em;
  font-size: 1.1em;
}

.attack-list ion-list ion-item {
  --background: none;
  --padding-start: 0;
  --inner-padding-end: 10px;
  --inner-padding-start: 10px;
}

.attack-list ion-list ion-item::part(item) {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.protection-list {
  color: #fff;
}

.shield-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.shield-item img {
  width: 120px;
  height: 120px;
}

.protection-number {
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.protection-legend {
  text-align: center;
}

ion-input,
ion-textarea {
  border-radius: 16px;
  background: #121212;
  border: 1px solid var(--ion-color-dark-tint);
  outline: none !important;
  text-indent: 12px;
}

ion-label {
  color: var(--ion-color-medium);
}


ion-input, ion-textarea {
  margin-top: 1em;
}

.btn-outline {
  margin-top: 2em;
  --background: none;
  --border-style: solid;
  --border-width: 1px;
}

.shield {
  height: 85px;
  width: 80px;
  border: 2px solid #fff;
  border-radius: 50% 50% 50% 50% / 12% 12% 88% 88%;
}
