<ion-content>
  <div class="menu" *ngIf="pageLoaded">
    <ion-row style="margin-top: .3em">
      <ion-col size="1" routerLink="/character/{{characterID}}">
        <span style="font-size: 1.3em"
          ><ion-icon name="chevron-back-outline"></ion-icon
        ></span>
      </ion-col>
      <ion-col>
        <span style="font-size: 1.3em">{{charName}}</span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-margin">
        <span
          style="
            font-size: 1.8em;
            color: var(--ion-color-light-purple);
            -webkit-text-stroke-color: var(--ion-color-purple);
          "
          >Atributos de combate</span
        >
      </ion-col>
    </ion-row>
    <div class="protection-list">
      <div class="shield-item">
        <img src="/assets/image/shield.png" alt="Escudo" />
        <span class="protection-number">
          <input
            type="number"
            (change)="editTotalDefense()"
            [(ngModel)]="totalDefense"
            style="
              width: 20%;
              background: none;
              outline: none;
              text-align: center;
              border: none;
            "
          />
        </span>
      </div>
      <ion-text class="protection-legend" color="medium"
        >= 10 + AGI + Equip + Outros</ion-text
      >
    </div>

    <div class="resistance-list">
      <h3>
        Proteções & Resistências<ion-text
          (click)="protectionValue = ''; defenseMode = true; openStatusModal = true"
        >
          <ion-icon
            style="float: right; font-size: 1.3em"
            name="add-outline"
            color="light"
          >
          </ion-icon>
        </ion-text>
      </h3>
      <ion-list>
        <ion-item *ngFor="let defense of defensesList">
          <ion-label>
            {{defense.protection}}
            <span
              style="position: absolute; right: 0; margin-right: 1em"
              (click)="deleteDefense(defense.id, defense.protection)"
            >
              <ion-icon
                color="danger"
                name="trash-bin-outline"
              ></ion-icon></span
          ></ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div class="attack-list">
      <h3>
        Ataques
        <ion-text
          (click)="defenseMode = false; attacksForm.reset({id: 0}); openStatusModal = true"
        >
          <ion-icon
            style="float: right; font-size: 1.3em"
            name="add-outline"
            color="light"
          >
          </ion-icon>
        </ion-text>
      </h3>
      <ion-list>
        <ion-item *ngFor="let attack of attacksList">
          <ion-label>
            <p>
              {{attack.attack_name}}
              <span
                style="position: absolute; right: 0; margin-right: 1em"
                (click)="deleteAttack(attack.id, attack.attack_name)"
              >
                <ion-icon color="danger" name="trash-bin-outline"></ion-icon
              ></span>
            </p>
            <p><strong>Dano:</strong> {{attack.damage}}</p>
            <p><strong>Teste:</strong> {{attack.test}}</p>
            <p>
              <strong>Crítico, alcance ou especial:</strong>
              {{attack.critical_or_range_or_special}}
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <ion-modal
      [isOpen]="openStatusModal"
      style="--width: 330px; --border-radius: 40px"
      [style]="defenseMode ? '--height: 260px' : '--height: 420px'"
      (willDismiss)="openStatusModal = false;"
    >
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title
              >Adicionar {{defenseMode ? 'proteção/resistência' :
              'ataques'}}</ion-title
            >
          </ion-toolbar>
        </ion-header>

        <ion-content *ngIf="!defenseMode">
          <form [formGroup]="attacksForm" style="padding: 0.8em">
            <ion-input
              formControlName="attack_name"
              type="text"
              placeholder="Nome"
            ></ion-input>

            <ion-input
              formControlName="test"
              type="text"
              style="margin-top: 1em"
              placeholder="Teste"
            ></ion-input>

            <ion-input
              formControlName="damage"
              type="text"
              style="margin-top: 1em"
              placeholder="Dano"
            ></ion-input>

            <ion-input
              formControlName="critical_or_range_or_special"
              type="text"
              style="margin-top: 1em"
              placeholder="Crítico, alcance ou especial"
            ></ion-input>
          </form>
        </ion-content>

        <ion-content *ngIf="defenseMode">
          <div style="padding: 0.8em">
            <ion-input
              type="text"
              style="margin-top: 1em"
              placeholder="Proteção/resistênica"
              [(ngModel)]="protectionValue"
            ></ion-input>
          </div>
        </ion-content>

        <ion-footer>
          <ion-toolbar>
            <ion-buttons slot="end">
              <ion-button (click)="defenseMode ? addDefenses() : addAttacks()"
                >Adicionar</ion-button
              >
            </ion-buttons>
          </ion-toolbar>
        </ion-footer>
      </ng-template>
    </ion-modal>
  </div>
</ion-content>
