<ion-content>
  <div class="menu">
    <ion-row>
      <ion-col size="1" routerLink="/character/1">
        <span style="font-size: 1.3em; font-family: KyivTypeTitling"
          ><ion-icon name="chevron-back-outline"></ion-icon
        ></span>
      </ion-col>
      <ion-col>
        <span style="font-size: 1.3em; font-family: KyivTypeTitling"
          >Agatha Volkomenn</span
        >
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-margin">
        <span
          style="
            font-size: 1.8em;
            color: var(--ion-color-light-purple);
            -webkit-text-stroke-color: var(--ion-color-purple);
          "
          >Atributos de combate</span
        >
      </ion-col>
    </ion-row>
      <div class="protection-list">
        <div class="shield-item">
          <img src="/assets/image/shield.png" alt="Escudo" />
          <span class="protection-number">14</span>
        </div>
        <ion-text class="protection-legend" color="medium"
          >= 10 + AGI + Equip + Outros</ion-text
        >
      </div>

      <div class="resistance-list">
        <h3>Resistência</h3>
        <ion-list>
          <ion-item>
            <ion-label>Resistência 1</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Resistência 2</ion-label>
          </ion-item>
        </ion-list>
      </div>

      <div class="attack-list">
        <h3>Ataques</h3>
        <ion-list>
          <ion-item>
            <ion-label>
              <h4>Ataque 1</h4>
              <p>Teste/Dano/Crítico: Teste1/Dano1/Crítico1</p>
              <p>Alcance: Alcance1</p>
              <p>Especial: Especial1</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h4>Ataque 2</h4>
              <p>Teste/Dano/Crítico: Teste2/Dano2/Crítico2</p>
              <p>Alcance: Alcance2</p>
              <p>Especial: Especial2</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>
</ion-content>
