.menu {
  width: 95%;
  margin: auto;
  text-align: center;
}

.text-creator {
  -webkit-text-stroke-color: #fff;
  color: #fff;
  font-size: 36px;
  text-align: center;
}

.btn-default {
  margin-top: 2em;
}

.btn-outline {
  margin-top: 2em;
  --background: none;
  --border-color: var(--ion-color-medium);
  --border-style: solid;
  --border-width: 1px;
}
