<ion-content>
  <div class="menu">
    <ion-item lines="none">
      <ion-label class="text-creator"> Sobre</ion-label>
    </ion-item>

    <div style="margin-top: 3em;">
      <span>
        Este é um projeto sem fins lucrativos criado para fãs da série Ordem
        Paranormal. O objetivo é oferecer uma maneira fácil e acessível de criar
        fichas de personagens para os jogadores. O aplicativo é gratuito e
        possui uma interface simples, permitindo que os jogadores criem
        personagens únicos e interessantes com facilidade. Ordem Paranormal é
        criada por Rafael Lange e todos os direitos da marca pertencem a ele.
      </span>
    </div>

    <div style="margin-top: 1em">
      <img src="/assets/image/equipe_e.png" />
      <ion-text color="medium" style="font-size: .7em;">(imagem triste acima)</ion-text>
    </div>

    <ion-button
      class="btn-outline"
      style="--background: none; --border-color: var(--ion-color-medium)"
      shape="round"
      expand="block"
      routerLink="/"
    >
      Voltar
    </ion-button>
  </div>
</ion-content>
