<ion-content>
  <div class="menu">
    <ion-item lines="none">
      <ion-label class="text-creator" style="font-family: Girassol;"> Sobre</ion-label>
    </ion-item>

    <div style="margin-top: 1em">
      <span>
        Este é um projeto sem fins lucrativos criado para fãs da série Ordem
        Paranormal. O objetivo é oferecer uma maneira fácil e acessível de criar
        fichas de personagens para os jogadores. O aplicativo é gratuito e
        possui uma interface simples, permitindo que os jogadores criem
        personagens únicos e interessantes com facilidade. Ordem Paranormal é
        criada por Rafael Lange e todos os direitos da marca pertencem a ele.
      </span>
      <ion-text color="light">Aplicativo desenvolvido por <a href="http://x.com/luczztlou" target="_blank">Luczz</a>.</ion-text>
    </div>

    <div style="margin-top: .6em;">
      <img src="/assets/image/equipe_e2.png" />
    </div>

    <div style="margin: auto; width: 90%; margin-top: 2em">
      <ion-button
      class="btn-outline"
      style="--background: none; --border-color: var(--ion-color-medium); --color: var(--ion-color-medium);"
      shape="round"
      expand="block"
      (click)="router.navigate(['/home']);"
    >
      Voltar
    </ion-button>
    </div>

  </div>
</ion-content>
