<ion-content>
  <div class="menu">
    <ion-item lines="none">
      <ion-label class="text-creator" style="font-family: Girassol">
        O que é N.O.V.A.?</ion-label
      >
    </ion-item>

    <div style="margin-top: 2em">
      <span>
        A N.O.V.A. é uma subdivisão altamente especializada e secreta da Ordo
        Realitas, dedicada a lidar com ameaças paranormais de forma rápida,
        eficaz e discreta. Composta por agentes extremamente treinados e
        versados nas artes do ocultismo, ciências sobrenaturais e combate
        paranormal, a N.O.V.A. é a linha de frente na defesa da Membrana e da
        ordem global.
      </span>
    </div>

    <div style="margin-top: 0.6em">
      <img src="/assets/image/nova.png" />
    </div>

    <div style="margin: auto; width: 90%; margin-top: 2em">
      <ion-button
        class="btn-outline"
        style="
          --background: none;
          --border-color: var(--ion-color-medium);
          --color: var(--ion-color-medium);
        "
        shape="round"
        expand="block"
        (click)="router.navigate(['/home']);"
      >
        Voltar
      </ion-button>
    </div>
  </div>
</ion-content>
