<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="redirectTo('/character/attributes/1')">
      <ion-icon aria-hidden="true" name="dice-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon aria-hidden="true" name="eye-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button style="margin-bottom: .5em;" (click)="redirectTo('/')">
      <ion-img src="/assets/image/ORDO_REALITAS.png"></ion-img>
    </ion-tab-button>

    <ion-tab-button (click)="redirectTo('/character/inventory/1')">
      <ion-icon aria-hidden="true" name="bag-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon aria-hidden="true" name="color-wand-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
