<ion-content>
  <div class="menu" *ngIf="pageLoaded && !editingAttr">
    <ion-grid>
      <ion-row style="display: flex; align-items: center">
        <ion-col size="1" (click)="redirectToBackScreen()">
          <span style="font-size: 1.8em"
            ><ion-icon
              name="chevron-back-outline"
              style="margin-top: 0.4em"
            ></ion-icon
          ></span>
        </ion-col>
        <ion-col>
          <span style="font-size: 1.8em; font-family: SpecialFont"
            >{{editingMode ? 'Editar' : 'Novo'}} agente</span
          >
        </ion-col>
      </ion-row>
    </ion-grid>

    <form [formGroup]="characterForm">
      <ion-grid style="margin: auto; width: 100%">
        <ion-row>
          <ion-col class="ion-text-left" size="9">
            <ion-label style="padding-left: 0.6em">Nome</ion-label>
            <ion-input
              formControlName="name"
              style="width: 100%; text-indent: 12px"
            >
            </ion-input>
          </ion-col>
          <ion-col class="ion-text-left" size="3">
            <ion-label style="padding-left: 0.6em">Idade</ion-label>
            <ion-input
              formControlName="age"
              style="width: 100%; text-align: center"
              type="number"
            >
            </ion-input>
          </ion-col>
        </ion-row>

        <ion-row style="margin-top: .5em">
          <ion-col class="ion-text-left" size="12">
            <ion-label style="padding-left: 0.6em">Origem</ion-label>
            <ion-input
              (ionFocus)="hideOriginsSuggestions = false"
              (ionBlur)="hideSuggestion('hideOriginsSuggestions');"
              formControlName="origin"
              style="width: 100%; text-indent: 12px"
              [readonly]="true"
            >
            </ion-input>
            <ion-list
              *ngIf="!hideOriginsSuggestions && originsGroup.length"
              class="suggestions-list"
            >
              <ion-item *ngFor="let origin of originsGroup">
                <ion-label
                  (click)="characterForm.get('origin').patchValue(origin.name)"
                >
                  {{origin.name}}
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row style="margin-top: .5em">
          <ion-col class="ion-text-left" size="12">
            <ion-label style="padding-left: 0.6em">Classe</ion-label>
            <ion-input
              formControlName="charClass"
              (ionFocus)="hideClassesSuggestions = false"
              (ionBlur)="hideSuggestion('hideClassesSuggestions');"
              (ionInput)="tracksGroup = []; characterForm.get('path').patchValue('')"
              style="width: 100%; text-indent: 12px"
              [readonly]="true"
            >
            </ion-input>

            <ion-list
              *ngIf="!hideClassesSuggestions && classesGroup.length"
              class="suggestions-list"
            >
              <ion-item *ngFor="let class of classesGroup">
                <ion-label (click)="getTracks(class.id, class.name)">
                  {{class.name}}
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: .5em">
          <ion-col *ngIf="className && className !== 'Mundano'" class="ion-text-left" size="12">
            <ion-label style="padding-left: 0.6em">Trilha</ion-label>
            <ion-input
              (ionFocus)="hideTracksSuggestions = false"
              (ionBlur)="hideSuggestion('hideTracksSuggestions');"
              formControlName="path"
              style="width: 100%; text-indent: 12px"
              [readonly]="true"
              placeholder="Você pode escolher isto depois"
            >
            </ion-input>
            <ion-list
              *ngIf="!hideTracksSuggestions && tracksGroup.length"
              class="suggestions-list"
            >
              <ion-item *ngFor="let track of tracksGroup">
                <ion-label
                  (click)="characterForm.get('path').patchValue(track.name)"
                >
                  {{track.name}}
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row style="margin-top: .5em">
          <ion-col class="ion-text-left" size="6">
            <ion-label style="padding-left: 0.6em">Ocupação</ion-label>
            <ion-input
              formControlName="occupation"
              style="width: 100%; text-indent: 12px"
            >
            </ion-input>
          </ion-col>
          <ion-col class="ion-text-left" size="6">
            <ion-label style="padding-left: 0.6em">Jogador(a)</ion-label>
            <ion-input
              formControlName="player"
              style="width: 100%; text-indent: 12px"
            >
            </ion-input>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="editingMode" style="margin-top: .5em">
          <ion-col class="ion-text-left" size="12">
            <ion-label style="padding-left: 0.6em">Deslocamento</ion-label>
            <ion-input
              formControlName="displacement"
              style="width: 100%; text-align: center;"
              type="text"
            >
            </ion-input>
          </ion-col>
          <ion-col class="ion-text-left" size="12">
            <ion-label style="padding-left: 0.6em">NEX</ion-label>
            <ion-input
              (ionFocus)="className !== 'Mundano' ? hideNexSuggestions = false : null"
              (ionBlur)="hideSuggestion('hideNexSuggestions');"
              formControlName="nex"
              style="width: 100%; text-align: center;"
              type="number"
              [readonly]="true"
              [placeholder]="className === 'Mundano' ? 'Escolha uma nova classe.' : ''"
            >
            </ion-input>
            <ion-list
              *ngIf="!hideNexSuggestions"
              class="suggestions-list"
            >
              <ion-item *ngFor="let nex of nexValues">
                <ion-label
                  (click)="characterForm.get('nex').patchValue(nex)"
                >
                  <strong>{{nex}}%</strong>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>


        <ion-row style="margin-top: .5em">
          <ion-col
            size="12"
            style="
              border: 1px solid var(--ion-color-medium);
              background: #121212;
              border-radius: 16px;
              cursor: pointer;
            "
            (click)="compressFile()"
          >
            <ion-label
              style="
                padding-left: 0.6em;
                font-size: 1.1em;
                display: flex;
                align-items: center;
                justify-content: center;
              "
              color="light"
            >
              +<ion-icon
                name="image-outline"
                style="padding-right: 0.6em"
              ></ion-icon
              >{{'Selecionar imagem'}}</ion-label
            >
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center" style="margin-top: .7em;">
          <ion-col
            class="ion-text-center"
            style="display: flex; justify-content: center"
          >
            <div
              style="
                width: 200px;
                height: 200px;
                border: 1px solid var(--ion-color-light);
                overflow: hidden;
              "
            >
              <img
                [src]="imageResult || '/assets/image/no-profile.png'"
                style="width: 100%; height: 100%; object-fit: cover"
              />
            </div>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="imageResult" (click)="characterForm.get('image_url').patchValue(''); imageResult = ''">
          <ion-col>
            <ion-label color="danger" style="font-size: .8em;">
              Remover imagem
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>

    <div
      style="position: relative; margin-top: 2em; padding: 0 0 2em; width: 100%"
    >
      <ion-button
        class="btn-outline"
        style="--background: none"
        [style]="
        !editingMode ?
        '--border-color: var(--ion-color-main);
        --color: var(--ion-color-light-main);'
        : '--border-color: var(--ion-color-success);
        --color: var(--ion-color-success-tint)'
        "
        shape="round"
        expand="block"
        slot="bottom"
        fill="clear"
        (click)="editingMode ? saveCharacterEdit() : editingAttr = true"
      >
        {{editingMode ? 'Salvar' : 'Editar atributos'}}
      </ion-button>
    </div>
  </div>

  <div class="menu" *ngIf="editingAttr">
    <ion-grid class="ion-text-center">
      <ion-row style="display: flex; align-items: center">
        <ion-col size="1" (click)="editingAttr = false;">
          <span style="font-size: 1.8em"
            ><ion-icon
              name="chevron-back-outline"
              style="margin-top: 0.4em"
            ></ion-icon
          ></span>
        </ion-col>
        <ion-col>
          <span style="font-size: 1.8em; font-family: SpecialFont"
            >Editar atributos</span
          >
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-row class="ion-align-items-center" *ngIf="pageWidth >= 340">
      <ion-col class="ion-text-center">
        <form [formGroup]="attrForm">
          <div style="position: relative">
            <img
              src="/assets/image/attr2.png"
              style="
                width: 300px;
                height: 300px;
                margin-bottom: 10px;
                pointer-events: none;
              "
            />

            <form
              [formGroup]="attrForm"
              style="
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
              "
            >
              <div
                style="
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  margin-top: 2em;
                "
              >
                <input
                  type="number"
                  id="agilidade"
                  class="input-attr"
                  formControlName="agility"
                  #agilidadeIpt
                />
              </div>

              <div
                style="
                  display: flex;
                  flex-direction: row;
                  justify-content: space-around;
                  margin-top: 1.8em;
                "
              >
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-right: 85px;
                  "
                >
                  <input
                    type="number"
                    id="forca"
                    class="input-attr"
                    formControlName="strength"
                    #forcaIpt
                  />
                </div>

                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                  "
                >
                  <input
                    type="number"
                    id="intelecto"
                    style="margin-left: 2em"
                    class="input-attr"
                    formControlName="intellect"
                    #intelectoIpt
                  />
                </div>
              </div>

              <div
                style="
                  display: flex;
                  flex-direction: row;
                  justify-content: space-evenly;
                  margin-top: 4.8em;
                "
              >
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-right: 75px;
                  "
                >
                  <input
                    type="number"
                    id="presenca"
                    class="input-attr"
                    formControlName="presence"
                    #presencaIpt
                  />
                </div>

                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                  "
                >
                  <input
                    type="number"
                    id="vigor"
                    class="input-attr"
                    formControlName="stamina"
                    #vigorIpt
                  />
                </div>
              </div>
            </form>
          </div>
        </form>
      </ion-col>
    </ion-row>

    <ion-row
      class="ion-align-items-center"
      *ngIf="pageWidth < 340"
      style="margin-bottom: 2em"
    >
      <ion-col class="ion-text-center">
        <form [formGroup]="attrForm">
          <div style="margin-bottom: 10px">
            <label for="agilidade" style="display: block; margin-bottom: 5px"
              >Agilidade</label
            >
            <input
              type="number"
              id="agilidade"
              class="input-attr-max"
              formControlName="agility"
              #agilidadeIpt
            />
          </div>

          <div
            style="
              display: flex;
              flex-direction: row;
              justify-content: space-around;
            "
          >
            <div style="margin-bottom: 10px">
              <label for="forca" style="display: block; margin-bottom: 5px"
                >Força</label
              >
              <input
                type="number"
                id="forca"
                class="input-attr-max"
                formControlName="strength"
                #forcaIpt
              />
            </div>

            <div style="margin-bottom: 10px">
              <label for="intelecto" style="display: block; margin-bottom: 5px"
                >Intelecto</label
              >
              <input
                type="number"
                id="intelecto"
                class="input-attr-max"
                formControlName="intellect"
                #intelectoIpt
              />
            </div>
          </div>

          <div
            style="
              display: flex;
              flex-direction: row;
              justify-content: space-evenly;
            "
          >
            <div style="margin-top: 10px">
              <label for="presenca" style="display: block; margin-bottom: 5px"
                >Presença</label
              >
              <input
                type="number"
                id="presenca"
                class="input-attr-max"
                formControlName="presence"
                #presencaIpt
              />
            </div>

            <div style="margin-top: 10px">
              <label for="vigor" style="display: block; margin-bottom: 5px"
                >Vigor</label
              >
              <input
                type="number"
                id="vigor"
                class="input-attr-max"
                formControlName="stamina"
                #vigorIpt
              />
            </div>
          </div>
        </form>
      </ion-col>
    </ion-row>

    <div>
      <ion-label>
        Ao criar um personagem, cada um de seus atributos inicia com um ponto, e
        você tem à disposição 4 pontos para distribuir entre eles conforme sua
        preferência. Adicionalmente, é possível reduzir um atributo a zero para
        receber 1 ponto extra. O valor máximo inicial permitido para cada
        atributo é 3.
      </ion-label>
    </div>

    <div
      style="position: relative; margin-top: 2em; padding: 0 0 2em; width: 100%"
    >
      <ion-button
        class="btn-outline"
        style="
          --background: none;
          --background: none;
          --border-color: var(--ion-color-success);
          --color: var(--ion-color-success-tint);
        "
        shape="round"
        expand="block"
        slot="bottom"
        fill="clear"
        (click)="editingMode ? saveCharacterEdit() : createCharacter()"
      >
        Finalizar
      </ion-button>
    </div>
  </div>
</ion-content>
