<ion-content>
  <div class="menu" *ngIf="pageLoaded">
    <ion-row>
      <ion-col class="ion-margin">
        <span
          style="
            font-size: 2em;
            color: var(--ion-color-light);
            font-family: Girassol;
          "
          >Meus personagens</span
        >
      </ion-col>
    </ion-row>

    <ion-searchbar
      class="ion-padding"
      placeholder="Pesquisar personagem"
      (ionInput)="filterCharacters($event)"
      style="--box-shadow: 0 0 0.2em var(--ion-color-medium)"
      #search
    ></ion-searchbar>

    <ion-row style="margin-bottom: 2em;">
      <ion-col size="4">
        <ion-button
        class="btn-outline-back"
        style="--background: none; --border-color: var(--ion-color-medium)"
        expand="block"
        (click)="router.navigate(['/home']);"
      >
        Voltar
      </ion-button>
      </ion-col>
      <ion-col size="8">
        <ion-button
        class="btn-outline"
        expand="block"
        routerLink="/create"
      >
        Novo Agente
      </ion-button>
      </ion-col>
    </ion-row>


    <div style="overflow: auto">
      <ion-grid
        *ngFor="let char of search.value ? filteredCharactersList : charactersList"
      >
        <span
          style="float: right"
          (click)="deleteCharacter(char.id, char.name)"
        >
          <ion-icon color="danger" name="trash-bin-outline"></ion-icon
        ></span>
        <div
          class="card-char"
          (click)="setLocalStorageAndEnterChar(char.id, char.name)"
        >
          <div class="left" style="max-width: 200px; min-width: 200px">
            <ion-row>
              <ion-col>
                <span>{{char.name}} </span>
              </ion-col>
            </ion-row>
            <ion-row style="margin: 0.4em">
              <ion-col
                style="border-radius: 0.5em; height: 1.5em; position: relative"
              >
                <div
                  class="progress-bar"
                  style="background-color: var(--ion-color-danger-shade)"
                >
                  <div
                    class="progress"
                    style="background-color: var(--ion-color-danger)"
                    [style.width.%]="((char.current_life / char.max_life) * 100) > 100 ? 100 : ((char.current_life / char.max_life) * 100)"
                  ></div>
                  <span class="progress-text"
                    >{{char.current_life}} / {{char.max_life}}</span
                  >
                </div>
              </ion-col>
            </ion-row>
            <ion-row style="margin: 0.4em">
              <ion-col
                style="border-radius: 0.5em; height: 1.5em; position: relative"
              >
                <div
                  class="progress-bar"
                  style="background-color: var(--ion-color-tertiary-shade)"
                >
                  <div
                    class="progress"
                    style="background-color: var(--ion-color-tertiary)"
                    [style.width.%]="((char.current_sanity / char.max_sanity) * 100) > 100 ? 100 : ((char.current_sanity / char.max_sanity) * 100)"
                  ></div>
                  <span class="progress-text"
                    >{{char.current_sanity}} / {{char.max_sanity}}</span
                  >
                </div>
              </ion-col>
            </ion-row>
            <ion-row style="margin: 0.4em">
              <ion-col
                style="border-radius: 0.5em; height: 1.5em; position: relative"
              >
                <div
                  class="progress-bar"
                  style="background-color: var(--ion-color-success-shade)"
                >
                  <div
                    class="progress"
                    style="background-color: var(--ion-color-success)"
                    [style.width.%]="((char.current_effort / char.max_effort) * 100) > 100 ? 100 : ((char.current_effort / char.max_effort) * 100)"
                  ></div>
                  <span class="progress-text"
                    >{{char.current_effort}} / {{char.max_effort}}</span
                  >
                </div>
              </ion-col>
            </ion-row>
            <ion-row style="width: 100%; font-size: 0.9em">
              <ion-col>
                <span>NEX: {{char.nex}}</span>
              </ion-col>
              <ion-col>
                <span>{{char.class}}</span>
              </ion-col>
            </ion-row>
          </div>

          <div class="right">
            <ion-row class="ion-align-items-center ion-justify-content-center">
              <ion-col class="ion-text-center" style="margin-top: 2.5em">
                <div
                  style="
                    width: 80px;
                    height: 80px;
                    border-radius: 16px;
                    border: 1px solid var(--ion-color-dark);
                    overflow: hidden;
                  "
                >
                  <img
                    [src]="char.image_url ? char.image_url : '/assets/image/no-profile.png'"
                    style="width: 100%; height: 100%; object-fit: cover"
                  />
                </div>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-grid>
    </div>

    <div
      *ngIf="pageLoaded && charactersList.length <= 0 || search.value && filteredCharactersList.length <= 0"
    >
      <p
        style="
          color: var(--ion-color-light);
          font-family: SpecialFont;
          font-size: 1.2em;
        "
      >
        Nada encontrado...
      </p>
      <img src="/assets/image/not_found.png" style="width: 100%" />
    </div>
  </div>
</ion-content>
