.menu {
  width: 90%;
  margin: auto;
  text-align: center;
  height: 100%;
}

.btn-outline {
  --border-style: solid;
  --border-width: 1px;
  --background: none;
  --border-color: var(--ion-color-main);
  --color: var(--ion-color-light-main);
  --border-radius: 14px;
}

.btn-outline-back {
  --background: none;
  --border-color: var(--ion-color-medium);
  --border-style: solid;
  --border-width: 1px;
  --color: var(--ion-color-medium);
  --border-radius: 14px;
}


.card-char {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #000;
  background-color: #171717;
  padding: 0.6em;
  border-radius: 2em;
  margin: auto;
  margin-top: 1em;
}

.card-char div {
  display: flex;
  flex-direction: column;
}

.progress-bar {
  border-radius: 0.5em;
  height: 25px;
  position: relative;
}


.progress {
  border-radius: 0.5em;
  height: 25px;
  transition: width 0.3s ease;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--ion-color-light);
}
