<ion-content>
  <div class="menu" *ngIf="pageLoaded">
    <ion-row>
      <ion-col
        size="12"
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
        "
      >
        <span style="font-size: 1.3em" routerLink="/character/{{characterID}}"
          ><ion-icon name="chevron-back-outline"></ion-icon
        ></span>

        <span style="font-size: 1.3em"
          ><ion-icon name="help-circle-outline"></ion-icon
        ></span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-margin ion-text-center">
        <span
          style="
            font-size: 1.8em;
            color: var(--ion-color-light-main);
            -webkit-text-stroke-color: var(--ion-color-main);
          "
          >Anotações</span
        >
      </ion-col>
    </ion-row>

    <div class="NgxEditor__Wrapper">
      <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
      <ngx-editor
        [editor]="editor"
        [(ngModel)]="html"
        [disabled]="false"
        [placeholder]="'Escreva aqui...'"
        (keyup)="saveNotations()"
      ></ngx-editor>
    </div>
  </div>
</ion-content>
