<ion-content>
  <div class="menu" *ngIf="pageLoaded">
    <ion-grid>
      <div>
        <ion-row>
          <ion-col size="1" routerLink="/character/1">
            <span style="font-size: 1.3em; font-family: KyivTypeTitling"
              ><ion-icon name="chevron-back-outline"></ion-icon
            ></span>
          </ion-col>
          <ion-col>
            <span style="font-size: 1.3em; font-family: KyivTypeTitling"
              >Agatha Volkomenn</span
            >
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="ion-margin">
            <span
              style="
                font-size: 1.8em;
                color: var(--ion-color-light-purple);
                -webkit-text-stroke-color: var(--ion-color-purple);
                font-family: KyivTypeTitling;
              "
              >Atributos e Perícias</span
            >
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col class="ion-text-center">
            <form [formGroup]="attrForm">
              <div
                style="margin-bottom: 10px"
                routerLink="/character/dice-rolling/1/agilidade/{{agilidadeIpt.value}}/0"
              >
                <label
                  for="agilidade"
                  style="display: block; margin-bottom: 5px"
                  >Agilidade</label
                >
                <input
                  type="number"
                  id="agilidade"
                  class="input-attr"
                  formControlName="agility"
                  readonly
                  #agilidadeIpt
                />
              </div>

              <div
                style="
                  display: flex;
                  flex-direction: row;
                  justify-content: space-around;
                "
              >
                <div
                  style="margin-bottom: 10px"
                  routerLink="/character/dice-rolling/1/força/{{forcaIpt.value}}/0"
                >
                  <label for="forca" style="display: block; margin-bottom: 5px"
                    >Força</label
                  >
                  <input
                    type="number"
                    id="forca"
                    class="input-attr"
                    formControlName="strength"
                    readonly
                    #forcaIpt
                  />
                </div>

                <div
                  style="margin-bottom: 10px"
                  routerLink="/character/dice-rolling/1/intelecto/{{intelectoIpt.value}}/0"
                >
                  <label
                    for="intelecto"
                    style="display: block; margin-bottom: 5px"
                    >Intelecto</label
                  >
                  <input
                    type="number"
                    id="intelecto"
                    class="input-attr"
                    formControlName="intellect"
                    readonly
                    #intelectoIpt
                  />
                </div>
              </div>

              <div
                style="
                  display: flex;
                  flex-direction: row;
                  justify-content: space-evenly;
                "
              >
                <div
                  style="margin-top: 10px"
                  routerLink="/character/dice-rolling/1/presença/{{presencaIpt.value}}/0"
                >
                  <label
                    for="presenca"
                    style="display: block; margin-bottom: 5px"
                    >Presença</label
                  >
                  <input
                    type="number"
                    id="presenca"
                    class="input-attr"
                    formControlName="presence"
                    readonly
                    #presencaIpt
                  />
                </div>

                <div
                  style="margin-top: 10px"
                  routerLink="/character/dice-rolling/1/vigor/{{vigorIpt.value}}/0"
                >
                  <label for="vigor" style="display: block; margin-bottom: 5px"
                    >Vigor</label
                  >
                  <input
                    type="number"
                    id="vigor"
                    class="input-attr"
                    formControlName="force"
                    readonly
                    #vigorIpt
                  />
                </div>
              </div>
            </form>
          </ion-col>
        </ion-row>

        <div class="skills-container">
          <div class="skills-row">
            <span
              *ngFor="let skill of skills"
              style="font-size: 0.9em; white-space: nowrap; margin-bottom: 1em"
              (click)="openModal(skill)"
            >
              {{skill.name | titlecase}} +{{skill.value}}
            </span>
          </div>
        </div>

        <ion-row class="ion-align-items-center">
          <ion-col class="ion-text-center">
            <ion-button
              fill="clear"
              style="color: var(--ion-color-light-purple)"
            >
              Ver proficiências
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </div>
</ion-content>
