<ion-content>
  <div class="menu" *ngIf="pageLoaded">
    <ion-grid>
      <div>
        <ion-row>
          <ion-col size="1" routerLink="/character/{{characterID}}">
            <span style="font-size: 1.3em"
              ><ion-icon name="chevron-back-outline"></ion-icon
            ></span>
          </ion-col>
          <ion-col>
            <span style="font-size: 1.3em">{{charName}}</span>
            <ion-icon
              name="build-outline"
              style="float: right"
              (click)="editingMode = !editingMode"
              [color]="editingMode ? 'tertiary' : 'light'"
            ></ion-icon>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="ion-margin">
            <span
              style="
                font-size: 1.8em;
                color: var(--ion-color-light-purple);
                -webkit-text-stroke-color: var(--ion-color-purple);
              "
              >Atributos e Perícias</span
            >
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col class="ion-text-center">
            <form [formGroup]="attrForm">
              <div
                style="margin-bottom: 10px"
                (click)="editingMode ? null : gotoDiceRolling('agilidade', agilidadeIpt.value, 0)"
              >
                <label
                  for="agilidade"
                  style="display: block; margin-bottom: 5px"
                  >Agilidade</label
                >
                <input
                  type="number"
                  id="agilidade"
                  class="input-attr"
                  formControlName="agility"
                  [readonly]="!editingMode"
                  (input)="changeAttributeValue('agility', agilidadeIpt.value)"
                  #agilidadeIpt
                />
              </div>

              <div
                style="
                  display: flex;
                  flex-direction: row;
                  justify-content: space-around;
                "
              >
                <div
                  style="margin-bottom: 10px"
                  (click)="editingMode ? null : gotoDiceRolling('força', forcaIpt.value, 0)"
                >
                  <label for="forca" style="display: block; margin-bottom: 5px"
                    >Força</label
                  >
                  <input
                    type="number"
                    id="forca"
                    class="input-attr"
                    formControlName="strength"
                    [readonly]="!editingMode"
                    (input)="changeAttributeValue('strength', forcaIpt.value)"
                    #forcaIpt
                  />
                </div>

                <div
                  style="margin-bottom: 10px"
                  (click)="editingMode ? null : gotoDiceRolling('intelecto', intelectoIpt.value, 0)"
                >
                  <label
                    for="intelecto"
                    style="display: block; margin-bottom: 5px"
                    >Intelecto</label
                  >
                  <input
                    type="number"
                    id="intelecto"
                    class="input-attr"
                    formControlName="intellect"
                    [readonly]="!editingMode"
                    (input)="changeAttributeValue('intellect', intelectoIpt.value)"
                    #intelectoIpt
                  />
                </div>
              </div>

              <div
                style="
                  display: flex;
                  flex-direction: row;
                  justify-content: space-evenly;
                "
              >
                <div
                  style="margin-top: 10px"
                  (click)="editingMode ? null : gotoDiceRolling('presença', presencaIpt.value, 0)"
                >
                  <label
                    for="presenca"
                    style="display: block; margin-bottom: 5px"
                    >Presença</label
                  >
                  <input
                    type="number"
                    id="presenca"
                    class="input-attr"
                    formControlName="presence"
                    [readonly]="!editingMode"
                    (input)="changeAttributeValue('presence', presencaIpt.value)"
                    #presencaIpt
                  />
                </div>

                <div
                  style="margin-top: 10px"
                  (click)="editingMode ? null : gotoDiceRolling('vigor', vigorIpt.value, 0)"
                >
                  <label for="vigor" style="display: block; margin-bottom: 5px"
                    >Vigor</label
                  >
                  <input
                    type="number"
                    id="vigor"
                    class="input-attr"
                    formControlName="stamina"
                    [readonly]="!editingMode"
                    (input)="changeAttributeValue('stamina', vigorIpt.value)"
                    #vigorIpt
                  />
                </div>
              </div>
            </form>
          </ion-col>
        </ion-row>

        <div class="skills-container">
          <div class="skills-row">
            <span
              *ngFor="let skill of skills"
              (click)="editingMode ? openModalAndSaveSkill(skill.name, skill.value, skill.id) : openModal(skill)"
              style="font-size: 1.1em; white-space: nowrap; margin-bottom: 1em"
            >
              {{skill.name | titlecase}} +{{skill.value}}
            </span>
          </div>
        </div>
      </div>
    </ion-grid>

    <div style="position: relative; margin-top: 2em; margin-bottom: 3em; width: 100%">
      <ion-button
        class="btn-outline"
        style="--background: none; --border-color: var(--ion-color-light)"
        color="light"
        fill="clear"
        shape="round"
        expand="block"
        id="custom-dices"
        (click)="diceResults = []; numberOfDice = 1; diceResultTotal = 0; diceRolling = false"
      >
        Dados personalizados
      </ion-button>
    </div>

    <ion-modal style="--height: 490px; --width: 300px" trigger="custom-dices">
      <ng-template>
        <ion-content class="ion-padding">
          <ion-input
            type="number"
            shape="round"
            placeholder="min: 1, max: 20"
            label="Quantidade"
            labelPlacement="stacked"
            style="
              padding: 0.4em;
              border-bottom: 1px solid var(--ion-color-medium);
              font-size: 1.3em;
            "
            max="80"
            min="0"
            #iptCustomQnt
          ></ion-input>
          <ion-input
            type="number"
            shape="round"
            label="Faces"
            labelPlacement="stacked"
            placeholder="min: 1, max: 100"
            style="
              padding: 0.4em;
              border-bottom: 1px solid var(--ion-color-medium);
              margin-top: 1.2em;
              font-size: 1.3em;
            "
            #facesQnt
          ></ion-input>
          <ion-button
            class="btn-outline"
            style="--background: none; --border-color: var(--ion-color-medium)"
            shape="round"
            expand="block"
            color="medium"
            fill="clear"
            (click)="rollDice(iptCustomQnt.value, facesQnt.value)"
            [disabled]="diceRolling"
          >
            Rolar
          </ion-button>

          <ion-row style="margin-top: .8em; text-align: center">
            <ion-col>
              Total: {{diceResultTotal}}
            </ion-col>
          </ion-row>

          <ion-row
            class="ion-align-items-center"
            style="max-height: 220px; overflow: auto"
          >
            <ng-container *ngFor="let diceResult of diceResults; let i = index">
              <ion-col size="6" class="ion-text-center">
                <img
                  src="/assets/image/dice.png"
                  style="max-width: 70%; min-width: 60%"
                />
                <div
                  class="dice-result"
                  style="
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                  "
                >
                  <span style="font-size: 1.1em">{{diceResult}}</span>
                </div>
              </ion-col>
            </ng-container>
          </ion-row>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal
      style="
        --height: 140px;
        --width: 300px;
        --border-radius: 40px;
        --background: #161616
      "
      [isOpen]="openStatusModal"
      (willDismiss)="openStatusModal = false;"
    >
      <ng-template>
        <div style="margin: auto">
          <div style="text-align: center; margin-top: 0.6em">
            <ion-text style="font-size: 1.1em; color: var(--ion-color-purple)"
              >{{selectedSkill | titlecase}}</ion-text
            >
          </div>

          <div style="text-align: center; margin-top: 0.6em">
            <ion-text style="font-size: 1.1em">Editar atributo</ion-text>
          </div>

          <div class="buttons" style="display: flex">
            <ion-button fill="clear" (click)="increaseOrDecreaseSkill(0)">
              <ion-icon name="remove"></ion-icon>
            </ion-button>
            <ion-input
              type="number"
              [(ngModel)]="skillValue"
              readonly
              style="width: 20px"
            ></ion-input>
            <ion-button fill="clear" (click)="increaseOrDecreaseSkill(1)">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ng-template>
    </ion-modal>
  </div>
</ion-content>
