.menu {
  width: 90%;
  margin: auto;
  text-align: center;
  height: 100%;
}

input {
  text-align: center;
}
.input-attr {
  background: none;
  outline: none;
  max-width: 50px;
  border: none;
  font-size: 1.4em;
  text-align: center;
  opacity: 0.7;
}

.input-attr-max {
  width: 80px;
  height: 40px;
  font-size: 1.2em;
  background-color: var(--ion-background-color);
  border-radius: 5px;
  outline: none;
  padding: 5px;
  border: 1px solid var(--ion-color-dark-tint);
}

.skills-container {
  max-height: 230px;
  overflow: auto;
  scrollbar-color: #490142 #565656;
  scrollbar-width: thin;
  margin-top: 0.2em;
}

.skills-container::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.skills-container::-webkit-scrollbar-thumb {
  background-color: var(--ion-color-purple);
  border-radius: 12px;
}

.skills-container::-webkit-scrollbar-track {
  background-color: #565656;
}
.skills-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  width: 100%;
}

.btn-outline {
  margin-top: 2em;
  --background: none;
  --border-color: var(--ion-color-light-purple);
  --color: var(--ion-color-light-purple);
  --border-style: solid;
  --border-width: 1px;
}
