<ion-content>
  <div class="menu">
    <ion-grid>
      <div>
        <ion-row>
          <ion-col size="1" routerLink="/character/1">
            <span style="font-size: 1.3em; font-family: KyivTypeTitling"
              ><ion-icon name="chevron-back-outline"></ion-icon
            ></span>
          </ion-col>
          <ion-col>
            <span style="font-size: 1.3em; font-family: KyivTypeTitling"
              >Agatha Volkomenn</span
            >
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="ion-margin">
            <span
              style="
                font-size: 1.8em;
                color: #c538d1;
                -webkit-text-stroke-color: #490142;
                font-family: KyivTypeTitling;
              "
              >Atributos e Perícias</span
            >
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col class="ion-text-center">
            <div>
              <div style="margin-bottom: 10px" routerLink="/character/dice-rolling/1/agilidade/{{agilidadeIpt.value}}/{{agilidadeIpt.value}}">
                <label
                  for="agilidade"
                  style="display: block; margin-bottom: 5px"
                  >Agilidade</label
                >
                <input type="number" id="agilidade" class="input-attr" [value]="1" readonly #agilidadeIpt/>
              </div>

              <div
                style="
                  display: flex;
                  flex-direction: row;
                  justify-content: space-around;
                "
              >
                <div style="margin-bottom: 10px" routerLink="/character/dice-rolling/1/força/{{forcaIpt.value}}/{{forcaIpt.value}}">
                  <label for="forca" style="display: block; margin-bottom: 5px"
                    >Força</label
                  >
                  <input type="number" id="forca" class="input-attr" [value]="1" readonly #forcaIpt/>
                </div>

                <div style="margin-bottom: 10px" routerLink="/character/dice-rolling/1/intelecto/{{intelectoIpt.value}}/{{intelectoIpt.value}}">
                  <label
                    for="intelecto"
                    style="display: block; margin-bottom: 5px"
                    >Intelecto</label
                  >
                  <input type="number" id="intelecto" class="input-attr" [value]="2" readonly #intelectoIpt/>
                </div>
              </div>

              <div
                style="
                  display: flex;
                  flex-direction: row;
                  justify-content: space-evenly;
                "
              >
                <div style="margin-top: 10px" routerLink="/character/dice-rolling/1/presença/{{presencaIpt.value}}/{{presencaIpt.value}}">
                  <label
                    for="presenca"
                    style="display: block; margin-bottom: 5px"
                    >Presença</label
                  >
                  <input type="number" id="presenca" class="input-attr" [value]="2" readonly #presencaIpt/>
                </div>

                <div style="margin-top: 10px" routerLink="/character/dice-rolling/1/vigor/{{vigorIpt.value}}/{{vigorIpt.value}}">
                  <label for="vigor" style="display: block; margin-bottom: 5px"
                    >Vigor</label
                  >
                  <input type="number" id="vigor" class="input-attr" [value]="1" readonly #vigorIpt/>
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>

        <div class="skills-container">
          <div class="skills-row">
            <span
              *ngFor="let skill of skills"
              style="font-size: 0.9em; white-space: nowrap; margin-bottom: 1em"
              routerLink="/character/dice-rolling/1/{{skill.name}}/{{skill.value}}/{{skill.value}}"
            >
              {{skill.name | titlecase}} +{{skill.value}}
            </span>
          </div>
        </div>

        <ion-row class="ion-align-items-center">
          <ion-col class="ion-text-center">
            <ion-button
              fill="clear"
              style="color: var(--ion-color-light-purple)"
            >
              Ver proficiências
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </div>
</ion-content>
