.menu {
  width: 95%;
  margin: auto;
  text-align: center;
  height: 100%;
}


.btn-outline {
  margin-top: 2em;
  --background: none;
  --border-style: solid;
  --border-width: 1px;
}

ion-input, ion-textarea {
  border-radius: 16px;
  background: #121212;
  border: 1px solid var(--ion-color-dark-tint);
  outline: none !important;
  text-align: left !important;
  padding: 0 1em 0;
}


ion-label {color: var(--ion-color-medium)}

.has-focus {
  outline: none;
}
