<ion-content>
  <div class="menu">
    <ion-grid>
      <div>
        <ion-row>
          <ion-col size="1" routerLink="/character/{{characterID}}">
            <span style="font-size: 1.3em"
              ><ion-icon name="chevron-back-outline"></ion-icon
            ></span>
          </ion-col>
          <ion-col>
            <span style="font-size: 1.3em">{{charName}}</span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="ion-margin">
            <span
              style="
                font-size: 1.8em;
                color: var(--ion-color-light-purple);
                -webkit-text-stroke-color: var(--ion-color-purple);
              "
              >Inventário</span
            >
          </ion-col>
        </ion-row>
        <div
          class="card-char"
          style="border: 1px solid var(--ion-color-warning)"
        >
          <ion-row>
            <ion-col class="ion-text-center">
              <span
                >Sinalizador
                <span style="position: absolute; right: 0; margin-right: 1em">
                  <ion-icon
                    color="danger"
                    name="trash-bin-outline"
                  ></ion-icon></span
              ></span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center">
              <img
                src="/assets/image/sinalizador.png"
                style="max-width: 20%; margin-top: 0.3em"
              />
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <span><ion-text color="medium">Peso:</ion-text> 5</span>
            </ion-col>
            <ion-col>
              <span><ion-text color="medium">Alcance:</ion-text> 4</span>
            </ion-col>
            <ion-col>
              <span><ion-text color="medium">Dano:</ion-text> 2d6</span>
            </ion-col>
            <ion-col>
              <span><ion-text color="medium">Recarga:</ion-text> 9</span>
            </ion-col>
          </ion-row>
        </div>
        <div style="position: fixed; bottom: 0; margin-bottom: 3em; width: 90%">
          <ion-button
            class="btn-outline"
            style="
              --background: none;
              --border-color: var(--ion-color-light-purple);
              --color: var(--ion-color-light-purple);
            "
            shape="round"
            expand="block"
            fill="clear"
          >
            Adicionar item
          </ion-button>
        </div>
      </div>
    </ion-grid>
  </div>
</ion-content>
