<ion-content>
  <div class="menu">
    <ion-grid>
      <div>
        <ion-row>
          <ion-col size="1" routerLink="/character/1">
            <span style="font-size: 1.3em; font-family: KyivTypeTitling"
              ><ion-icon name="chevron-back-outline"></ion-icon
            ></span>
          </ion-col>
          <ion-col>
            <span style="font-size: 1.3em; font-family: KyivTypeTitling"
              >Agatha Volkomenn</span
            >
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="ion-margin">
            <span
              style="
                font-size: 1.8em;
                color: var(--ion-color-light-purple);
                -webkit-text-stroke-color: var(--ion-color-purple);
                font-family: KyivTypeTitling;
              "
              >Inventário</span
            >
          </ion-col>
        </ion-row>
        <div class="card-char">
            <ion-row class="ion-align-items-start ion-justify-content-start">
              <ion-col class="ion-text-start">
                <span>Peso: 5</span>
              </ion-col>
              <ion-col class="ion-text-start">
                <span>Alcance: 4</span>
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center ion-justify-content-center">
              <ion-col class="ion-text-center">
                <span>Sinalizador</span>
                <img src="/assets/image/sinalizador.png" style="max-width: 60%; margin-top: .3em" />
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-end ion-justify-content-end">
              <ion-col class="ion-text-end">
                <span>Dano: 2d6</span>
              </ion-col>
              <ion-col class="ion-text-end">
                <span>Recarga: 9</span>
              </ion-col>
            </ion-row>


        </div>
      </div>
    </ion-grid>
  </div>
</ion-content>
