<ion-content>
  <div class="menu" *ngIf="pageLoaded">
    <ion-grid>
      <div>
        <ion-row>
          <ion-col size="1" routerLink="/character/{{characterID}}">
            <span style="font-size: 1.3em"
              ><ion-icon name="chevron-back-outline"></ion-icon
            ></span>
          </ion-col>
          <ion-col>
            <span style="font-size: 1.3em">{{charName}}</span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col style="margin-top: 1em">
            <span
              style="
                font-size: 1.8em;
                color: var(--ion-color-light-purple);
                -webkit-text-stroke-color: var(--ion-color-purple);
                display: flex;
                align-items: center;
                justify-content: center
              "
              >Inventário
              <ion-text
                [color]="generic.weightStatus === 'Normal' ? 'light' : 'medium'"
                style="font-size: 0.8em !important; padding-left: .7em"
                >(carga: {{totalWeight}})</ion-text
              >
            </span>
            <ion-text>
              <ion-icon
                style="float: right; font-size: 1.6em"
                name="add-outline"
                color="light"
                (click)="openAddInventoryItemModal = true;"
              >
              </ion-icon>
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row style="margin-bottom: 0.5em">
          <ion-col>
            <ion-text
              [color]="generic.weightStatus === 'Normal' ? 'medium' : 'danger'"
              style="font-size: 1em"
              >{{generic.weightStatus}}</ion-text
            >
          </ion-col>
        </ion-row>

        <form [formGroup]="inventoryInfos">
          <ion-row style="margin-top: 0.2em">
            <ion-col class="ion-text-left" size="6">
              <ion-label style="padding-left: 0.6em"
                >Pontos prestígio</ion-label
              >
              <ion-input
                style="width: 100%; text-align: center"
                (ionChange)="editInventoryInfos()"
                [debounce]="500"
                formControlName="prestige_points"
              >
              </ion-input>
            </ion-col>
            <ion-col class="ion-text-left" size="6">
              <ion-label style="padding-left: 0.6em">Patente</ion-label>
              <ion-input
                type="string"
                style="width: 100%; text-indent: 8px"
                (ionChange)="editInventoryInfos()"
                [debounce]="500"
                formControlName="patent"
              >
              </ion-input>
            </ion-col>
          </ion-row>
          <ion-row style="margin-top: 0.4em">
            <ion-col class="ion-text-left" size="4">
              <ion-label style="padding-left: 0.6em">Lim. itens</ion-label>
              <ion-input
                style="width: 100%; text-align: center"
                (ionChange)="editInventoryInfos()"
                [debounce]="500"
                formControlName="item_limit"
              >
              </ion-input>
            </ion-col>
            <ion-col class="ion-text-left" size="4">
              <ion-label style="padding-left: 0.6em">Lim. créd.</ion-label>
              <ion-input
                type="number"
                style="width: 100%; text-align: center"
                (ionChange)="editInventoryInfos()"
                [debounce]="500"
                formControlName="credit_limit"
              >
              </ion-input>
            </ion-col>
            <ion-col class="ion-text-left" size="4">
              <ion-label style="padding-left: 0.6em">Carga max.</ion-label>
              <ion-input
                style="width: 100%; text-align: center"
                (ionChange)="editInventoryInfos()"
                [debounce]="500"
                formControlName="max_load"
              >
              </ion-input>
            </ion-col>
          </ion-row>
        </form>

        <ion-row>
          <ion-col style="margin-top: 1em">
            <span
              style="
                font-size: 1.2em;
                color: var(--ion-color-light-purple);
                -webkit-text-stroke-color: var(--ion-color-purple);
                display: flex;
                align-items: center;
                justify-content: center
              "
              >Itens
            </span>

          </ion-col>
        </ion-row>

        <div
          class="card-char"
          style="border: 1px solid var(--ion-color-medium)"
          *ngFor="let item of inventoryItems"
        >
          <ion-row>
            <ion-col class="ion-text-center">
              <span
                >{{item.item_name}}
                <span
                  style="position: absolute; right: 0; margin-right: 1em"
                  (click)="deleteInventoryItems(item.item_id, item.item_name)"
                >
                  <ion-icon
                    color="danger"
                    name="trash-bin-outline"
                  ></ion-icon></span
              ></span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <span
                ><ion-text color="medium">Caterogia:</ion-text>
                {{item.category}}</span
              >
            </ion-col>
            <ion-col>
              <span
                ><ion-text color="medium">Espaços:</ion-text>
                {{item.slots}}</span
              >
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-grid>

    <ion-modal
      style="--height: 380px; --width: 300px"
      [isOpen]="openAddInventoryItemModal"
      (willDismiss)="openAddInventoryItemModal = false;"
    >
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Adicionar item</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="openAddInventoryItemModal = false">
                <ion-icon name="close"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-input
            type="text"
            shape="round"
            placeholder="Nome"
            style="
              padding: 0.4em;
              text-indent: 8px;
              border-bottom: 1px solid var(--ion-color-medium);
            "
            max="80"
            min="0"
            #iptName
          ></ion-input>
          <ion-input
            type="text"
            shape="round"
            placeholder="Categoria"
            style="
              padding: 0.4em;
              text-indent: 8px;
              margin-top: 0.8em;
              border-bottom: 1px solid var(--ion-color-medium);
            "
            #iptCategory
          ></ion-input>
          <ion-input
            type="number"
            shape="round"
            placeholder="Peso"
            style="
              padding: 0.4em;
              text-indent: 8px;
              margin-top: 0.8em;
              border-bottom: 1px solid var(--ion-color-medium);
            "
            #iptSlots
          ></ion-input>
          <ion-button
            class="btn-outline"
            style="--background: none; --border-color: var(--ion-color-warning)"
            shape="round"
            expand="block"
            color="warning"
            fill="clear"
            (click)="modalController.dismiss(); addInventoryItems(iptName.value, iptCategory.value, iptSlots.value)"
          >
            Adicionar
          </ion-button>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>
</ion-content>
