<ion-content>
  <div class="menu">
    <div style="margin-top: 4em">
      <img src="/assets/image/nova.png" />
    </div>

    <ion-row>
      <ion-col>
        <ion-label class="text-creator" style="font-family: Girassol; font-size: 3em">
          N.O.V.A.
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label class="text-creator" style="font-size: .8em">
          Núcleo de Operações e Vigilância Anti-Paranormal
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-button
      class="btn-default"
      color="success"
      shape="round"
      style="margin-top: 2em;"
      expand="block"
      (click)="redirectToCharOrLogin()"
    >
      Iniciar
    </ion-button>
    <ion-button
      class="btn-outline"
      style="--background: none; --border-color: var(--ion-color-medium)"
      shape="round"
      expand="block"
      routerLink="/about"
    >
      Sobre
    </ion-button>
    <ion-button
      class="btn-outline"
      style="--background: none; --border-color: var(--ion-color-medium);"
      shape="round"
      expand="block"
      routerLink="/nova"
    >
      N.O.V.A.
    </ion-button>

    <div style="margin-top: 2em" *ngIf="username">
      <ion-label
        >Logado como {{username}}.
        <ion-text
          color="primary"
          style="text-decoration: underline"
          (click)="logout()"
          >Sair</ion-text
        ></ion-label
      >
    </div>
  </div>
</ion-content>
