<ion-content>
  <div class="menu">
    <div style="margin-top: 5em">
      <img src="/assets/image/ORDO_REALITAS.png" />
    </div>

    <ion-item lines="none">
      <ion-label class="text-creator" style="font-family: Girassol">
        Ficha de Agente
      </ion-label>
    </ion-item>

    <ion-button
      class="btn-default"
      color="success"
      shape="round"
      expand="block"
      (click)="redirectToCharOrLogin()"
    >
      Iniciar
    </ion-button>
    <ion-button
      class="btn-outline"
      style="--background: none; --border-color: var(--ion-color-medium)"
      shape="round"
      expand="block"
      routerLink="/about"
    >
      Sobre
    </ion-button>

    <div style="margin-top: 2em;" *ngIf="username">
      <ion-label
        >Logado como {{username}}.
        <ion-text
          color="primary"
          style="text-decoration: underline"
          (click)="logout()"
          >Sair</ion-text
        ></ion-label
      >

    </div>
  </div>
</ion-content>
