<ion-content>
  <div class="menu">
    <div style="margin-top: 5em">
      <img src="/assets/image/ORDO_REALITAS.png" />
    </div>

    <ion-item lines="none">
      <ion-label class="text-creator" style="font-family: SpecialFont;"> Criador de fichas </ion-label>
    </ion-item>

    <ion-button
      class="btn-default"
      color="success"
      shape="round"
      expand="block"
      routerLink="/characters"
    >
      Iniciar
    </ion-button>
    <ion-button
      class="btn-outline"
      style="--background: none; --border-color: var(--ion-color-medium)"
      shape="round"
      expand="block"
      routerLink="/about"
    >
      Sobre
    </ion-button>
  </div>

</ion-content>
