.menu {
  width: 90%;
  margin: auto;
  text-align: center;
  height: 100%;
}

.btn-outline {
  margin-top: 2em;
  --background: none;
  --border-color: var(--ion-color-light-main);
  --color: var(--ion-color-light-main);
  --border-style: solid;
  --border-width: 1px;
}

.options-btn {
  margin-top: 1em;
  margin-right: 0.4em;
  --background: none;
  --border-style: solid;
  --border-width: 1px;
  --border-radius: 12px;
  --width: 10%;
}

.dice-container {
  position: relative;
}

.dice-result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

@keyframes shake {
  0%, 100% { transform: translateY(0); }
  25%, 75% { transform: translateY(-1px); }
  50% { transform: translateY(1px); }
}

@keyframes alternateColor {
  0% {
    color: var(--ion-color-success);
  }
  50% {
    color: var(--ion-color-success-tint);
  }
  100% {
    color: var(--ion-color-success);
  }
}

.shake-text {
  display: inline-block;
  animation: shake 0.5s infinite, alternateColor .5s infinite;
}
