.menu {
  width: 90%;
  margin: auto;
  text-align: center;
  background: url(/assets/image/ts.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.btn-outline {
  margin-top: 2em;
  --background: none;
  --border-color: var(--ion-color-light-purple);
  --color: var(--ion-color-light-purple);
  --border-style: solid;
  --border-width: 1px;
}

.options-btn {
  margin-top: 1em;
  margin-right: .4em;
  --background: none;
  --border-style: solid;
  --border-width: 1px;
  --border-radius: 12px;
  --width: 10%
}

.dice-container {
  position: relative;
}

.dice-result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
